footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 2em;
  font-weight: 300;
}

.footer-column {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  border-top: 1px solid #ccc;
}

.neko-image {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -3.5em;
  height: 3.5em;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1.25em 0.75em 1.25em;
}

footer p {
  font-size: 0.8em;
}

.footer-copyright, .social-icons {
  display: flex;
  margin-top: 0.5em;
}

.social-icons_list {
  display: flex;
  list-style: none;
}

.social-icons_item {
  margin-left: 0.9em;
}

@media (max-width: 600px) {
  footer {
    padding-bottom: 1em;
  }

  .footer, .footer-copyright {
    display: block;
    text-align: center;
  }

  .social-icons {
    display: block;
    margin-top: 1em;
  }

  .social-icons_list {
    justify-content: center;
    margin-top: 0.5em;
  }
}
